.full-screen-icon {
  position: absolute;
  z-index: 10;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background:rgba(0, 0, 0, .5);
  border-radius: 50%;

  svg {
    position: relative;
    top: 8px;
    color: #fff;
  }
}

/* html */
// :fullscreen canvas {
//   /* properties */
// }

// :-webkit-full-screen {
  
// }

// :-moz-fullscreen {
//   /* properties */
// }

// /* styling the backdrop */
// ::backdrop {
//   /* properties */
// }