.signature-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.signature-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 55px;
  transform: rotate(90deg);
  transform-origin: 0 0;

  .action {
    width: calc((100% - 45px) / 3);

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}